footer
	.container
		.footer-wrapper
			.copy &copy; 2021 The Bradley Projects.
			.footer-contacts
				.footer-contacts__col
					.footer-contacts__title ADDRESS
					.footer-contacts__text 1812 Morena Street<br> Nashville, Tennessee  37208

				.footer-contacts__col
					.footer-contacts__title EMail
					.footer-contacts__text
						a(href="mailto:contact@thebpi.com") contact@thebpi.com

				.footer-contacts__col
					.footer-contacts__title Phone
					.footer-contacts__text
						a(href="tel:+16193192242") +1 619-319-2242

			.instagram-container
				a(href="javascript:void(0);").instagram-btn.js-insta-btn
					span.instagram-btn__icon
					span.instagram-btn__text Instagram

				.instagram-links
					a(href="https://instagram.com" class="instagram-link" target="_blank") #[strong BPI] Instagram
					a(href="https://instagram.com" class="instagram-link" target="_blank") #[strong BDG] Instagram
					a(href="https://instagram.com" class="instagram-link" target="_blank") #[strong Certified] Instagram

include ./modal