//- Libs
//-script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
script(src="src/js/libs/jquery-3.6.0.min.js")
script(src="src/js/libs/bootstrap.min.js")
script(src="src/js/libs/swiper-bundle.min.js")
script(src="src/js/libs/simplebar.min.js")
script(src="src/js/libs/parallax.min.js")

if (lightbox)
	script(src="src/js/libs/jquery.magnific-popup.min.js")

//- User scripts
script(src="src/js/common.js?v=" + version)