-
	var news_items = [
		{
			img: "news-item01.jpg",
			title: "505 E South Temple: Steiner American Building",
			date: "Sep 21, 2021",
			tag: "DEVELOPMENT",
			descr: "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede...",
			author: "John Doe"
		},
		{
			img: "news-item01.jpg",
			title: "History of the Walker Center",
			date: "Sep 21, 2021",
			tag: "Architecture",
			descr: "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede...",
			author: "Kate Horward"
		}
	];