-
	var menu = [
		{
			title: "Home",
			url: "index.html"
		},
		{
			title: "Projects",
			url: "projects.html"
		},
		{
			title: "Services",
			url: "index.html"
		},
		{
			title: "About",
			url: "about-us.html"
		},
		{
			title: "News",
			url: "latest-news.html"
		}
	];
	var email = 'contact@thebpi.com';
	var phone = '+1 619-319-2242';
	var address = '1812 Morena Street<br>Nashville, Tennessee  37208';