-
	var portfolio_items = [
		{
			img: "src/img/home/recent-project-01.jpg",
			title: "Linden Row",
			loc: "Green Hills",
			tag: ["Architecture"]
		},
		{
			img: "src/img/home/recent-project-01.jpg",
			title: "Illume",
			loc: "Nashville",
			tag: ["DEVELOPMENT"]
		},
		{
			img: "src/img/home/recent-project-01.jpg",
			title: "Alina",
			loc: "Nashville",
			tag: ["DEVELOPMENT", "CONTSRUCTION"]
		},
		{
			img: "src/img/home/recent-project-02.jpg",
			title: "Fairfax Flats",
			loc: "Green Hills",
			tag: ["Architecture"]
		},
		{
			img: "src/img/home/recent-project-01.jpg",
			title: "Main 608",
			loc: "Austin",
			tag: ["Architecture", "CONTSRUCTION", "DEVELOPMENT"]
		},
		{
			img: "src/img/home/recent-project-01.jpg",
			title: "River Tower",
			loc: "Los Angeles",
			tag: ["DEVELOPMENT"]
		},
	];