-
	var press_items = [
		{
			img: "press01.jpg",
			title: "Lorem ipsum dolor sit amet, adipiscing",
			date: "Sep 21, 2021",
			tag: "BPI + BDG"
		},
		{
			img: "press02.jpg",
			title: "Lorem ipsum dolor sit amet, adipiscing",
			date: "Sep 21, 2021",
			tag: "CERTIFIED"
		},
		{
			img: "press03.jpg",
			title: "Lorem ipsum dolor sit amet, adipiscing",
			date: "Sep 21, 2021",
			tag: "CERTIFIED"
		},
		{
			img: "press04.jpg",
			title: "Lorem ipsum dolor sit amet, adipiscing",
			date: "Sep 21, 2021",
			tag: "BPI + BDG"
		},
		{
			img: "press05.jpg",
			title: "Lorem ipsum dolor sit amet, adipiscing",
			date: "Sep 21, 2021",
			tag: "CERTIFIED"
		},
		{
			img: "press06.jpg",
			title: "Lorem ipsum dolor sit amet, adipiscing",
			date: "Sep 21, 2021",
			tag: "BPI + BDG"
		}
	];

	var news_items = [
		{
			img: "news-item01.jpg",
			title: "Designing for the Soul",
			date: "Sep 21, 2021",
			tag: "Architecture",
			descr: "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede...",
			author: "John Doe"
		},
		{
			img: "news-item01.jpg",
			title: "The Retraining of SLC",
			date: "Sep 21, 2021",
			tag: "DEVELOPMENT",
			descr: "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede...",
			author: "Kate Horward"
		},
		{
			img: "news-item01.jpg",
			title: "Art in Architecture",
			date: "Sep 21, 2021",
			tag: "Architecture",
			descr: "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede...",
			author: "Kate Horward"
		},
		{
			img: "news-item01.jpg",
			title: "Designing for the Soul",
			date: "Sep 21, 2021",
			tag: "CONTSRUCTION",
			descr: "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede...",
			author: "John Doe"
		},
		{
			img: "news-item01.jpg",
			title: "505 E South Temple: Steiner American Building",
			date: "Sep 21, 2021",
			tag: "DEVELOPMENT",
			descr: "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede...",
			author: "John Doe"
		},
		{
			img: "news-item01.jpg",
			title: "History of the Walker Center",
			date: "Sep 21, 2021",
			tag: "Architecture",
			descr: "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede...",
			author: "Kate Horward"
		}
	];