-
	var photos = [
		{
			img: "img1.jpg",
			thumb: "thumb1.jpg"
		},
		{
			img: "img1.jpg",
			thumb: "thumb2.jpg"
		},
		{
			img: "img1.jpg",
			thumb: "thumb3.jpg"
		},
		{
			img: "img1.jpg",
			thumb: "thumb4.jpg"
		},
		{
			img: "img1.jpg",
			thumb: "thumb5.jpg"
		},
		{
			img: "img1.jpg",
			thumb: "thumb6.jpg"
		}
	];